## Load NYC filtered dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load it into a Dataframe using pandas
path = 'nyc311_filter.csv'
df = pd.read_csv(path)
df.head()

/home/ubuntu/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (17,31,32,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,...,vehicle_type,taxi_company_borough,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location
0,20122810,03/28/2011 11:20:53 AM,04/13/2011 10:40:27 AM,DOF,Senior Citizen Rent Increase Exemption Unit,SCRIE,SCRIE Assistance,Address Unknown,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20122811,03/28/2011 11:12:27 PM,03/29/2011 05:07:13 AM,NYPD,New York City Police Department,Illegal Parking,Posted Parking Sign Violation,Street/Sidewalk,11216.0,644 LAFAYETTE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.690123,-73.949135,"(40.69012317171803, -73.94913492072885)"
2,20122812,03/28/2011 04:12:08 PM,03/28/2011 08:03:39 PM,DOF,Senior Citizen Rent Increase Exemption Unit,SCRIE,SCRIE Assistance,Senior Address,10012.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20122813,03/28/2011 06:25:54 PM,03/28/2011 07:25:59 PM,DOF,Senior Citizen Rent Increase Exemption Unit,SCRIE,SCRIE Assistance,Senior Address,10456.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20122814,03/28/2011 04:16:51 PM,03/28/2011 07:52:23 PM,DOF,Senior Citizen Rent Increase Exemption Unit,SCRIE,SCRIE Assistance,Senior Address,10023.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# What are the anomalous complaints per department for each zip code with respect to the total?

In [3]:
# Group complaints
call_freq = df['complaint_type'].groupby(df['complaint_type']).count(
).sort_values(ascending=False).reset_index(name='total_count')

In [4]:
call_freq.head(10)

           complaint_type  total_count
0      Noise  Residential      1386637
1           HEATHOT WATER      1118605
2        Street Condition       746330
3  Street Light Condition       717827
4         Illegal Parking       693226
5        Blocked Driveway       684450
6                 HEATING       592609
7            Water System       571644
8                PLUMBING       541549
9                   Noise       425904

In [5]:
# Group complaints as per department and zipcode
df_count_zip = df.groupby(['complaint_type','incident_zip', 'agency']).size(
).sort_values(ascending=False).reset_index(name="complaint_count")
df_count_zip.head(10)

       complaint_type  incident_zip agency  complaint_count
0       HEATHOT WATER       11226.0    HPD            36886
1       HEATHOT WATER       10458.0    HPD            34778
2       HEATHOT WATER       10467.0    HPD            33883
3  Noise  Residential       11226.0   NYPD            32452
4  Noise  Residential       10467.0   NYPD            31537
5       HEATHOT WATER       10453.0    HPD            30454
6       HEATHOT WATER       10468.0    HPD            30353
7  Noise  Residential       10468.0   NYPD            28214
8  Noise  Residential       10458.0   NYPD            25067
9       HEATHOT WATER       10452.0    HPD            24942

In [6]:
mergedStuff = pd.merge(call_freq, df_count_zip, on=['complaint_type'], how='inner')
mergedStuff['Percentage'] = (mergedStuff.complaint_count / mergedStuff.total_count) * 100
mergedStuff.head(10)

,complaint_type,total_count,incident_zip,agency,complaint_count,Percentage
0,Noise Residential,1386637,11226.0,NYPD,32452,2.340339
1,Noise Residential,1386637,10467.0,NYPD,31537,2.274352
2,Noise Residential,1386637,10468.0,NYPD,28214,2.034707
3,Noise Residential,1386637,10458.0,NYPD,25067,1.807755
4,Noise Residential,1386637,10456.0,NYPD,24370,1.757490
5,Noise Residential,1386637,10031.0,NYPD,24289,1.751648
6,Noise Residential,1386637,10453.0,NYPD,22821,1.645780
7,Noise Residential,1386637,10452.0,NYPD,22705,1.637415
8,Noise Residential,1386637,11221.0,NYPD,22538,1.625371
9,Noise Residential,1386637,11206.0,NYPD,20467,1.476017

In [7]:
mergedStuff.to_csv('percentage.csv', index=False)

In [8]:
import pandas as pd
path = 'percentage.csv'
df = pd.read_csv(path, low_memory=False)
df.head()

,complaint_type,total_count,incident_zip,agency,complaint_count,Percentage
0,Noise Residential,1386637,11226.0,NYPD,32452,2.340339
1,Noise Residential,1386637,10467.0,NYPD,31537,2.274352
2,Noise Residential,1386637,10468.0,NYPD,28214,2.034707
3,Noise Residential,1386637,10458.0,NYPD,25067,1.807755
4,Noise Residential,1386637,10456.0,NYPD,24370,1.757490

In [10]:
import numpy as np  
arr = np.array(mergedStuff['Percentage']) 
print("50th/Median percentile of arr : ", np.percentile(arr, 50)) 
print("25th percentile of arr : ", np.percentile(arr, 25)) 
print("75th percentile of arr : ", np.percentile(arr, 75))

50th/Median percentile of arr :  0.35973865661116433
25th percentile of arr :  0.11370096645821488
75th percentile of arr :  0.7624923337331917

In [11]:
Q1 = df.Percentage.quantile(0.25)
Q3 = df.Percentage.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

0.6487913672749768

In [14]:
mergedStuff.Percentage.describe()

count    38900.000000
mean         0.712638
std          2.718670
min          0.000072
25%          0.113701
50%          0.359739
75%          0.762492
max        100.000000
Name: Percentage, dtype: float64

In [18]:
min_value = Q1-1.5*IQR
print(min_value)
max_value = Q3 + 1.5 * IQR
print(max_value)
#print(df['complaint_type'] < (Q1 - 1.5 * IQR)) |(df['complaint_type'] > (Q3 + 1.5 * IQR))

-0.8594860844542502
1.7356793846456569